<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>level</key>
		<integer>0</integer>
		<key>isVisible</key>
		<true/>
		<key>contents</key>
		<dict>
			<key>یادگیری</key>
			<dict>
				<key>level</key>
				<integer>1</integer>
				<key>isVisible</key>
				<false/>
				<key>contents</key>
				<dict>
					<key>کلمه</key>
					<dict>
						<key>level</key>
						<integer>2</integer>
						<key>contents</key>
						<dict>
							<key>ورزش ها</key>
							<dict>
								<key>level</key>
								<integer>3</integer>
								<key>isVisible</key>
								<false/>
								<key>id-gr1</key>
								<integer>1</integer>
								<key>id-gr2</key>
								<integer>11</integer>
							</dict>
							<key>طبیعت</key>
							<dict>
								<key>id-gr1</key>
								<integer>1</integer>
								<key>id-gr2</key>
								<integer>7</integer>
								<key>level</key>
								<integer>3</integer>
								<key>isVisible</key>
								<false/>
							</dict>
							<key>آلات موسیقی</key>
							<dict>
								<key>id-gr2</key>
								<integer>4</integer>
								<key>id-gr1</key>
								<integer>1</integer>
								<key>level</key>
								<integer>3</integer>
								<key>isVisible</key>
								<false/>
							</dict>
							<key>وسایل نقلیه</key>
							<dict>
								<key>id-gr1</key>
								<integer>1</integer>
								<key>id-gr2</key>
								<integer>12</integer>
								<key>level</key>
								<integer>3</integer>
								<key>isVisible</key>
								<false/>
							</dict>
							<key>لوازم التحریر</key>
							<dict>
								<key>id-gr2</key>
								<integer>8</integer>
								<key>id-gr1</key>
								<integer>1</integer>
								<key>level</key>
								<integer>3</integer>
								<key>isVisible</key>
								<false/>
							</dict>
							<key>خوراکی ها</key>
							<dict>
								<key>id-gr2</key>
								<integer>6</integer>
								<key>id-gr1</key>
								<integer>1</integer>
								<key>level</key>
								<integer>3</integer>
								<key>isVisible</key>
								<false/>
							</dict>
							<key>ابزار</key>
							<dict>
								<key>id-gr2</key>
								<integer>1</integer>
								<key>id-gr1</key>
								<integer>1</integer>
								<key>level</key>
								<integer>3</integer>
								<key>isVisible</key>
								<false/>
							</dict>
							<key>میوه ها</key>
							<dict>
								<key>id-gr2</key>
								<integer>10</integer>
								<key>id-gr1</key>
								<integer>1</integer>
								<key>level</key>
								<integer>3</integer>
								<key>isVisible</key>
								<false/>
							</dict>
							<key>مشاغل</key>
							<dict>
								<key>id-gr2</key>
								<integer>9</integer>
								<key>id-gr1</key>
								<integer>1</integer>
								<key>level</key>
								<integer>3</integer>
								<key>isVisible</key>
								<false/>
							</dict>
							<key>حیوانات</key>
							<dict>
								<key>id-gr1</key>
								<integer>1</integer>
								<key>id-gr2</key>
								<integer>5</integer>
								<key>level</key>
								<integer>3</integer>
								<key>isVisible</key>
								<false/>
							</dict>
							<key>اسباب</key>
							<dict>
								<key>id-gr1</key>
								<integer>1</integer>
								<key>id-gr2</key>
								<integer>2</integer>
								<key>level</key>
								<integer>3</integer>
								<key>isVisible</key>
								<false/>
							</dict>
							<key>افعال</key>
							<dict>
								<key>id-gr1</key>
								<integer>1</integer>
								<key>id-gr2</key>
								<integer>3</integer>
								<key>level</key>
								<integer>3</integer>
								<key>isVisible</key>
								<false/>
							</dict>
						</dict>
						<key>isVisible</key>
						<false/>
					</dict>
				</dict>
			</dict>
		</dict>
	</dict>
	<dict>
		<key>level</key>
		<integer>0</integer>
		<key>isVisible</key>
		<true/>
		<key>contents</key>
		<dict>
			<key>یادگیری</key>
			<dict>
				<key>level</key>
				<integer>1</integer>
				<key>isVisible</key>
				<false/>
				<key>contents</key>
				<dict>
					<key>کلمه</key>
					<dict>
						<key>level</key>
						<integer>2</integer>
						<key>contents</key>
						<dict>
							<key>ورزش ها</key>
							<dict>
								<key>level</key>
								<integer>3</integer>
								<key>isVisible</key>
								<false/>
								<key>id-gr1</key>
								<integer>1</integer>
								<key>id-gr2</key>
								<integer>11</integer>
							</dict>
							<key>طبیعت و مکان</key>
							<dict>
								<key>id-gr1</key>
								<integer>1</integer>
								<key>id-gr2</key>
								<integer>7</integer>
								<key>level</key>
								<integer>3</integer>
								<key>isVisible</key>
								<false/>
							</dict>
							<key>آلات موسیقی</key>
							<dict>
								<key>id-gr2</key>
								<integer>4</integer>
								<key>id-gr1</key>
								<integer>1</integer>
								<key>level</key>
								<integer>3</integer>
								<key>isVisible</key>
								<false/>
							</dict>
							<key>وسایل نقلیه</key>
							<dict>
								<key>id-gr1</key>
								<integer>1</integer>
								<key>id-gr2</key>
								<integer>12</integer>
								<key>level</key>
								<integer>3</integer>
								<key>isVisible</key>
								<false/>
							</dict>
							<key>لوازم التحریر</key>
							<dict>
								<key>id-gr2</key>
								<integer>8</integer>
								<key>id-gr1</key>
								<integer>1</integer>
								<key>level</key>
								<integer>3</integer>
								<key>isVisible</key>
								<false/>
							</dict>
							<key>خوراکی ها</key>
							<dict>
								<key>id-gr2</key>
								<integer>6</integer>
								<key>id-gr1</key>
								<integer>1</integer>
								<key>level</key>
								<integer>3</integer>
								<key>isVisible</key>
								<false/>
							</dict>
							<key>ابزار</key>
							<dict>
								<key>id-gr2</key>
								<integer>1</integer>
								<key>id-gr1</key>
								<integer>1</integer>
								<key>level</key>
								<integer>3</integer>
								<key>isVisible</key>
								<false/>
							</dict>
							<key>میوه ها</key>
							<dict>
								<key>id-gr2</key>
								<integer>10</integer>
								<key>id-gr1</key>
								<integer>1</integer>
								<key>level</key>
								<integer>3</integer>
								<key>isVisible</key>
								<false/>
							</dict>
							<key>مشاغل</key>
							<dict>
								<key>id-gr2</key>
								<integer>9</integer>
								<key>id-gr1</key>
								<integer>1</integer>
								<key>level</key>
								<integer>3</integer>
								<key>isVisible</key>
								<false/>
							</dict>
							<key>حیوانات</key>
							<dict>
								<key>id-gr1</key>
								<integer>1</integer>
								<key>id-gr2</key>
								<integer>5</integer>
								<key>level</key>
								<integer>3</integer>
								<key>isVisible</key>
								<false/>
							</dict>
							<key>اسباب</key>
							<dict>
								<key>id-gr1</key>
								<integer>1</integer>
								<key>id-gr2</key>
								<integer>2</integer>
								<key>level</key>
								<integer>3</integer>
								<key>isVisible</key>
								<false/>
							</dict>
							<key>افعال</key>
							<dict>
								<key>id-gr1</key>
								<integer>1</integer>
								<key>id-gr2</key>
								<integer>3</integer>
								<key>level</key>
								<integer>3</integer>
								<key>isVisible</key>
								<false/>
							</dict>
						</dict>
						<key>isVisible</key>
						<false/>
					</dict>
				</dict>
			</dict>
		</dict>
	</dict>
</array>
</plist>
